.comment-card {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  color:#3f51b5;
  width: 20rem;
  height: 4rem;
}

.comment-buttons {
    display: flex;
    margin-top: 1rem;
}

.buttons:hover {
  transform: scale(1.1);
}