

.list-title {
    margin-left: 1rem;
}
.list-title:hover {
    transform: scale(1.1);
}

.delete-icon:hover{
    transform: scale(1.1);
}

.lists-header {
    margin-left: 3rem;
    margin-top: 0;
}



.add-list__button{
    margin-left:1rem;
}