.navbar__container {
      display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
    background-color: #3f51b5;
    border-bottom: black solid 0.2rem;
  width: 100%;
  padding-left: 2rem;
  height: 5rem;
  z-index: 1000;
}



.navbar-icon {
  object-fit: contain;
  height: 3rem;
  margin-left: 2rem;
}

.navbar-icon:hover {
  transform: scale(1.2);
}

.navbar-right{
   margin-right: 5rem;
   font-size: 2rem;
   font-weight: bolder;
  margin-bottom: 0rem;
}
