.task-card {
    display: flex;
    margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  color:#3f51b5;
  width: 38rem;
  height: 4rem;
}

.task-main {
    margin-left: 1rem;
    margin-top: 0;
}

.task-main:hover {
    transform: scale(1.1);
}

.task-buttons {
    display: flex;
    margin-left: 0;
}


.task {
    display: inline;
    margin-top: 2rem;
}

.comment {
    display: inline;
    margin-left: 0rem;
}